@font-face {
    font-family: HARRYP__;
    src: url(fonts/HARRYP__.TTF);
    }

body {
    background-image: url("../images/Hallows.png");
    background-repeat: repeat;
    font-family: 'Wire One', sans-serif;
    line-height: 50px;
    letter-spacing: 2px;
    font-size: 25px;

}

.container {
    background-color: rgba(137, 0, 0, .8);
    padding: 30px;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    border: 10px dotted goldenrod;
    /* font-size: 30px; */
}

img {
    width: 100%;
    padding-top: 20px;
}

h1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: goldenrod;
    color: rgba(137, 0, 0, 1);
    padding: 10px;
    z-index: 9;
    cursor: pointer;
}


